In [1]:
import pandas as pd
import os
import glob
from datetime import datetime

In [2]:
path = os.getcwd()

all_files = glob.glob(os.path.join(path, "TweetsTratados*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
print(all_files)


#Juntando os arquivos em dataframe
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

qtd_old = len(frame.text)

['C:\\Users\\roger\\OneDrive\\02. Estudo\\01. MBA\\TCC\\Scripts\\TweetsTratados.csv', 'C:\\Users\\roger\\OneDrive\\02. Estudo\\01. MBA\\TCC\\Scripts\\TweetsTratados20220206.csv', 'C:\\Users\\roger\\OneDrive\\02. Estudo\\01. MBA\\TCC\\Scripts\\TweetsTratados20220214_203940.csv', 'C:\\Users\\roger\\OneDrive\\02. Estudo\\01. MBA\\TCC\\Scripts\\TweetsTratados20220217_104338.csv', 'C:\\Users\\roger\\OneDrive\\02. Estudo\\01. MBA\\TCC\\Scripts\\TweetsTratados20220221_133442.csv']

In [3]:
frame = frame.drop_duplicates(subset='text', keep='first')
frame

      Unnamed: 0                                               text
0              0  Como instalar o Windows 11 mesmo sem TPM 2.0 n...
1              1  üö® VALE A ATEN√á√ÉO:\n\nUma atualiza√ß√£o falsa par...
2              2                          Windows 11 est√° uma merda
3              3  depois que atualizei pro windows 11 nunca mais...
4              4  üëçüëçüëç\n\n√ìtimo pre√ßo parcelado! Com Ryzen 7!\n\n...
...          ...                                                ...
6950        1489  Como √© gosto pegar uma maquina pra formatar de...
6951        1490  üåê Android 13 transmitir√° aplicativos do celula...
6952        1491  Pensando em migrar minha instala√ß√£o atual do A...
6953        1492  Proteja seu computador com o Fort Firewall #fi...
6954        1493  Tenho um presente pra @windowsbr e @MicrosoftB...

[3928 rows x 2 columns]

In [4]:
qtd_arq = len(li)
qtd_new = len(frame.text)

print('=============')
print('Qtd de arquivos processados:', qtd_arq)
print('Qtd de tweets antes do processamento:', qtd_old)
print('Qtd de tweets ap√≥s do processamento:', qtd_new)
print('=============')

=============
Qtd de arquivos processados: 5
Qtd de tweets antes do processamento: 6972
Qtd de tweets ap√≥s do processamento: 3928
=============

In [5]:
# Resetando o √≠ndice
frame = frame.reset_index()

In [6]:
frame['text'].to_excel('teste.xlsx')

In [8]:
frame[frame.text.str.contains("Canal", regex=False)]

      index  Unnamed: 0                                               text
41       41          41  Para saber mais, acesse o Canaltech: https://t...
417     417         417  Para saber mais detalhes da atividade malicios...
967     967         967  Se Inscreva no Canal: https://t.co/03R9cdiTcQ ...
1429   1457         128  Se Inscreva no Canal: https://t.co/03R9cdiTcQ ...
1784   1814         485  Desde de seu lan√ßamento, o #Windows 11 j√° apre...
3728   5975         514  Se Inscreva no Canal: https://t.co/03R9cdiTcQ ...

In [12]:
frame[frame.text.str.contains("mercedes", regex=False)]

      index  Unnamed: 0                                               text
1160   1160        1160  eu tinha uma mercedes w11 e agora trabalho com...
1259   1259        1259  se a mercedes voltar com uma parada pique W11 ...
2582   2616        1287  inclusive aquela entrevista da jamie falando q...
3199   5334        1329  @rocha_vinycius kkkkkk grita. Mas a√≠, t√° ligad...
3850   6812        1351  @CurtiAntony Porra eu sou apaixonado no w11 e ...
3869   6831        1370  voltei apenas pra comentar que amei isso aqui\...
3874   6836        1375  mercedes me mantendo em casa o dia todo pra ac...
3886   6848        1387  mercedes eu espero que voc√™ tenha constru√≠do u...

In [ ]:
frame.loc[frame['text']=='Yes']